# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
selenium-env/  # Add this line
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
.python-version

# Pytest
.pytest_cache/
.coverage
htmlcov/
reports/

# Selenium
geckodriver.log
chromedriver.log
*.png
*.jpg

# JavaScript
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json

# C
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS-specific
.DS_Store
Thumbs.db